
/*public*/
body{
	margin:0;
	padding:0;
	font-size:12px;	
	width:1920px;
	overflow-x:hidden;
	transform:scale(1);
}

ul li{
	list-style-type:none
}
.ziti{
	color:#ec3d15;
}
	
.hide{
	display:none;
}
.show{
	display:block;
}
	

.zhengti{
	width:1920px;
	
}
a{
	text-decoration:none;
}
.top{
	width:1920px;
	height:52px;
	}
.top .png{
	width:279px;
	height:46px;
	float:left;
	margin-left:330px;
	}
.top .png img{
	margin-top:2px;	
}

.top .leaderborard{
	float:right;
	line-height:52px;
	margin-right:400px;
}
.top .leaderborard a{
	color:#464646;
	font-size:14px;
}
.top .leaderborard a:hover{
	color:#f07532;
}

.banner{
	width:1920px;
	height:1920px;	
	background-image:url(image/1472015161019969736.jpg);
	background-repeat:no-repeat;
	background-size:120% ;	
	background-position:-200px 0;
	position:absolute;
}

.banner .title .topic{
	float:left;
	position:relative;
	left:26%;
	width:100%;
	
}
.banner .title .topic li{
	width:150px;
	float:left;
	text-align:center;
	margin-top:30px;
	border-right:1px solid #504b48;
}
.banner .title .topic li:last-child{
	border-right:none;
}
.banner .title ul li a{
	color:#fff;
	font-size:15px;
	font-weight:bold;
}
.banner .title .topic-menu ul{
	float:left;
	position:relative;
	left:26.2%;
	width:150px;
	text-align:center;
	padding:0;
	margin-top:20px;
}
.banner .title .topic-menu ul li{
	padding-bottom:10px;
}
.banner .title .topic-menu ul li a{
	color:#aeaeae;
	font-size:14px;
}
.banner .title .topic-menu ul li a:hover{
	color:#f07532;
}
.new{
	height:332px;
	
	width:1325px;
	position:relative;
	top:510px;
	left:300px;
}
.new-left{
	width:250px;
	height:100%;
	float:left;
}
.new .new-left .new-left-top{
	width:250px;
	height:190px;
	background-image:url(image/download.png);
}
.new-left-footer{
	width:250px;
	height:142px;
	background:#3b3938;
	margin-bottom:1000px;
}
.footer-top-left{
	width:124px;
	height:60px;
	float:left;
	font-size:24px;
	color:#fff;
	text-align:center;
	line-height:60px;
	border-right:2px solid #343230;
	border-bottom:2px solid #343230;
}
.footer-top-right{
	width:124px;
	height:60px;
	float:left;
	font-size:24px;
	color:#fff;
	text-align:center;
	line-height:60px;
	border-bottom:2px solid #343230;
}
.footer-bottom{
	width:250px;
	height:80px;
	color:#fff;
	font-size:24px;
	text-align:center;
	padding-top:72px;
	line-height:30px;
}
.QB{
	color:#747373;
	font-size:15px;
	clear:both;	
}
.new-lunbo{
	width:564px;
	height:332px;
	float:left;
	overflow:hidden;
	
}

#pic li img{
	width:564px;
	height:332px;
	

}
#list{
	position:absolute;
	top:290px;
	right:815px;
}
#list a{
	display:inline-block;
	width:16px;
	height:16px;
	background:#696969;
	margin-left:11px;
	color:black;
	text-align:center;
	font-weight:bold;
	
}
#list li{
	margin-left:5px;          
    float:left;       
}
.new-right{
	float:left
	}
.new-tab{
	width:511px;
	height:332px;
	background-color:#171313;
}
.new-tab .new-title li{
	display:inline-block;
	width:70px;
	height:67px;
	text-align:center;
	line-height:67px;
	padding-top:3px;
}
.new-title li:first-child{
	margin-left:20px;
}
.new-title li a{
	font-size:18px;
	color:#c4b79b;
}
.new-title li:hover{
	padding-top:0px;
	border-top:3px solid #ec4828;

}

.xinwen li{
	height:26px;
	width:100%;
	line-height:26px;
	margin-bottom:10px;
	margin-left:30px;
}
.xinwen .new-hot{
	margin:0 auto;
	width:465px;
	height:34px;
	line-height:34px;
	background:#000000;
	margin-bottom:10px;
	text-align:center;
}
.xinwen li a{
	color:#c4b79b;
	font-size:15px;	
}
.xinwen li a:hover{
	color:#ec4828
}
.xinwen .new-hot a{
	color:#ec3d15;
	font-size:16px;
	font-weight:bold;
}
.xinwen span{
	float:right;
	margin-right:50px;
	color:#616161;
}
.denglu{
	width:250px;
	height:290px;
	background:#383635;
	position:absolute;
	bottom:1750px;
	right:790px;
	
}
.aa{
	padding-top:20px;
	}
.aa a{
	display:block;
	width:160px;
	height:45px;
	background:#ec4828;
	margin:0 auto;	
	color:#fff;
	font-size:17px;
	font-weight:bold;
	line-height:45px;
	text-align:center;
}
.shupai{
	position:relative;
	top:2580px;
	right:580px;
}
.denglu p{
	width:200px;
	line-height:24px;
	margin:0 auto;
	margin-top:20px;
	padding:18px 0 0 15px;
	color:#696962;
	font-size:14px;
	border-top:1px solid #4c4a4a;
}
.denglu ul li{
	font-size:14px;
	color:#696962;
	line-height:24px;
	padding:0 0 0 35px;
}
.menu{
	width:250px;
	height:270px;
	background:#383635;
	position:absolute;
	bottom:1440px;
	right:790px;
}
.menu-tit a{
	display:block;
	font-size:19px;
	color:#fff;
	margin:0 13px;
	padding:0 13px;
	border-bottom:1px solid #4a4847;
}
.menu-tit a:hover{
	color:#ec4828;
	
}
.menu-tit li{
	height:67px;
	line-height:67px;
	position:relative;
	width:100%;
	float:left;
	background:url(image/jiantou.png) no-repeat 80% 
}
.menu-tit li:hover{
	border-left:4px solid #ec4828;
	
}
.menu-list-panel{
	width:860px;
	height:268px;
	background:#fff;
	position:absolute;
	left:250px;
	border:1px solid #e8e8e8;
	line-height:30px;
	
	z-index:999;
}
.menu-list-panel h4{
	font-size:17px;
}
.menu-list-panel a{
	font-size:14px;
	color:black;
	padding-right:10px;
}
.menu-list-panel a:hover{
	color:#ec4828;
}
.menu-list-panel-nav{
	height:240px;
	width:570px;
	border-right:1px solid #e8e8e8;
	margin-left:30px;
	margin-top:10px;
}
.week{
	width:250px;
	height:250px;
	border:1px solid #e8e8e8;
	position:absolute;
	bottom:1150px;
	right:790px;
}
.week:hover{
	border-radius:9px;
	box-shadow:0 0 9px #e8e8e8;
}
.week h3{
	height:36px;
	width:200px;
	line-height:36px;
	font-size:16px;
	font-weight:bold;
	
	margin:0 auto;
	text-align:center;
}
.week-act-time{
	margin:0 0 0px 30px;
	line-height:40px;
}
.week-act-time .cur{
	
	border-top:2px solid #ec4828;
}
.week-act-time li{
	display:inline-block;
	font-weight:bold;
	font-size:14px;
	width:25px;
	text-align:center
	
}
.week-act-list{
	width:200px;
	height:100px;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	margin:0 auto;
	padding-bottom:10px;
}
.week-act-list ul{
	margin-top:20px;
}
.week-act-list ul li a{
	font-size:14px;
	color:black;
	line-height:30px;
	
}
.week-act-list ul li a:hover{
	color:#ec4828;
}
.week-act-list ul li span{
	padding-left:20px;
	float:right;
	margin-top:10px;
	color:#cfdbe9;
	font-size:16px;
}
.act-link{
	line-height:60px;
	text-align:center;
}
.act-link a{
	font-size:14px;
	color:black;
	padding-left:15px;
	padding-right:15px;
}
.act-link a:hover{
	color:#ec4828
}
	
.mainAct{
	width:972px;
	height:220px;
	overflow:hidden;
	position:absolute;
	top:370px;
	left:300px
	}
.Act-left{
	width:238px;
	height:48px;
	background:url(image/act.png) no-repeat left;
	display:inline-block;
	}
.Acr-right{
	float:right;
	margin-top:30px;
	margin-right:30px;
}
.Acr-right a{
	color:black;
	font-size:14px;
}
.Acr-right a:hover{
	color:#ec4828
}
.Acr-right span{
	color:#ec4828
}
.act-nav{
	border-top:1px solid #e8e8e8;
	margin-top:10px;
}
.act-nav li{
	display:inline-block;
	width:157px;
	height:43px;
	line-height:43px;
	text-align:center;
	
}
.on{border-top:3px solid #ec4828;}
.act-nav li a{
	font-size:16px;
	color:black;
	font-weight:bold;
}
.act-list li{
	display:inline-block;
	margin-left:20px;
	margin-top:10px;
}
.act-list li img{
	display:block;
	width:210px;
	height:100px;
}
#daoshu{
	position:absolute;
	height:20px;
	width:100px;
	border:1px solid #ec4828;
	font-size:14px;
	top:185px;
	left:30px;
	color:#ec4828;
	font-weight:bold;
	text-align:center;
	line-height:20px;
}
.video{
	width:972px;
	height:250px;
	overflow:hidden;
	position:absolute;
	top:620px;
	left:300px
}
.video-left{
	width:238px;
	height:48px;
	background:url(image/video.png) no-repeat left;
	display:inline-block;
	}
.video-right{
	float:right;
	margin-top:25px;
	
}
.video-right a{
	color:black;
	font-size:14px;
}
.video-right a:hover{
	color:#ec4828
}
.video-right span{
	color:#ec4828
}
.video-nav{
	width:475px;
	border-top:1px solid #e8e8e8;
	float:left;
}
.video-nav li{
	width:79px;
	height:60px;
	line-height:60px;
	float:left;
	text-align:center
}
.video-nav li a{
	color:black;
	font-size:17px;
	font-weight:bold;
}
.video-live{
	width:475px;
	border-top:1px solid #e8e8e8;
	float:left;
	
}
.video-live h3{
	height:60px;
	line-height:57px;
	float:left;
	font-size:15px;
	color:#ec4828;
	border-top:3px solid #ec4828;
}
.video-bd{
	clear:both;
}
.video-bd ul li{
	float:left;
	margin-right:20px;
}
.video-main{
	float:left;
}
.video-bd ul li img{
	opacity:0.75
}
.video-bd ul li img:hover{
	opacity:1
}
.video-list{
	clear:both;
}
.video-list li{
	float:left;
}
.video-list li:last-child{
	margin-left:20px;
	}
.video-list li img{
	opacity:0.75
}
.video-list li img:hover{
	opacity:1
}
.Mall{
	position:absolute;
	top:1500px;
	left:600px;
	width:972px;
	height:250px;
}
.Mall-logo a{
	float:right;
	color:black;
	font-size:14px;
}
.Mall-logo a span{
	color:#ec4828;
}
.Mall-logo a:hover{
	color:#ec4828;
}
.Mall ul li{
	display:inline-block;
	margin-top:20px;
	margin-right:20px;
}
.Mall ul li img{
	border:1px solid #e8e8e8;
}
.Mall ul li strong{
	display:block;
	padding-top:5px;
	text-align:center;
	font-size:14px;
}
.fastEntry{
	width:250px;
	height:250px;
	border:1px solid #e8e8e8;
	position:absolute;
	bottom:860px;
	right:790px;
}
.fastEntry:hover{
	border-radius:9px;
	box-shadow:0 0 9px #e8e8e8;
}
.fastEntry p{
	font-size:16px;
	font-weight:bold;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
.fastEntry ul{
	width:220px;
	border-top:1px solid #e8e8e8;
	margin:0 auto;
	padding-top:15px;
}
.fastEntry ul li{
	display:inline-block;
	padding-left:7px;
	padding-top:15px;
}
.fastEntry ul li:nth-child(5){
	padding-top:18px;
	padding-left:10px;
}
.fastEntry ul li img:hover{
	transform:rotate(10deg);
}
.community{
	width:250px;
	height:250px;
	border:1px solid #e8e8e8;
	position:absolute;
	bottom:570px;
	right:790px;
}
.community:hover{
	border-radius:9px;
	box-shadow:0 0 9px #e8e8e8;
}
.community p{
	font-size:16px;
	font-weight:bold;
	text-align:center;
	height:40px;
	line-height:40px;
	
}
.community ul{
	width:220px;
	border-top:1px solid #e8e8e8;
	margin:0 auto;
	padding-top:15px;
}
.community ul li{
	display:inline-block;
	padding-left:7px;
	padding-top:15px;
}
.community ul li:nth-child(1){
	padding-top:20px;
}
.community ul li:nth-child(2){
	padding-top:24px;
}
.community ul li:nth-child(3){
	padding-bottom:10px;
}
	
.community ul li img:hover{
	transform:rotate(10deg);
}
.brands{
	position:absolute;
	top:1800px;
	left:600px;
	width:972px;
	float:left;
}
.brands ul{
	margin-top:20px;
}
.brands ul li{
	float:left;
}
.brands ul li:first-child{
	padding-right:10px;
}
.brand-novel{
	width:481px;
	float:left;
	margin-right:10px;
}
.xs{
	padding-top:20px;
	font-size:16px;
	font-weight:bold;
}
.novel-hd ul{
	border:1px solid #e8e8e8;
}
.novel-hd ul li{
	width:156px;
	height:50px;
	text-align:center;
	line-height:50px;
}
.novel-hd ul li a{
	font-size:16px;
	color:black;
	font-weight:bold;
}
.nov-on{
	color:#ec4828;
	border-top:3px solid #ec4828;
}
.novel-img{
	clear:both;
	float:left;
	margin-top:5px;
}
.novel-list ul{
	float:left;
	line-height:22px;
	margin-top:0;
	margin-left:15px;
	
	
}
.novel-list ul li{
	clear:both;
}
.novel-list ul li a{
	color:black;
	font-size:14px;
}
.cartoon{
	float:left;
}
.dm{
	width:478px;
	padding-top:20px;
	padding-bottom:20px;
	font-size:16px;
	font-weight:bold;
	border-bottom:2px solid #e8e8e8;
}
.cartoon-img{
	margin-top:40px;
	}
.dnf-girl{
	position:absolute;
	top:2300px;
	left:600px;

}

.boy{
	width:481px;
	border-top:1px solid #e8e8e8;
	float:left;
}
.boy h3{
	
	font-size:14px;
	border-top:3px solid #ec4828;
	height:60px;
	line-height:57px;
	float:left;
	font-size:15px;
	color:#ec4828;
	
}
.boy ul{
	clear:both;
	
}
.boy ul li{
	padding-left:30px;
	float:left;
}
.boy ul li:first-child{
	padding-left:0;
	padding-right:0;
}
.girl{
	width:481px;
	float:left;
	margin-left:10px;
	border-top:1px solid #e8e8e8;
/*	position:relative;
	left:500px;
	bottom:225px;
	width:481px;
*/
}
.girl h3{	
	font-size:14px;
	border-top:3px solid #ec4828;
	height:60px;
	line-height:57px;
	float:left;
	font-size:15px;
	color:#ec4828;
	
}
.girl ul{
	clear:both;	
	
}
.girl ul li{
	padding-left:30px;
	float:left;
}
.girl ul li:first-child{
	padding-left:0;
	padding-right:0;
}
	
.footer{
	width:100%;
	height:151px;
	background-color:#282725;
	position:absolute;
	top:2820px;
	}
.footer img{
	float:left;
	margin:30px 30px 0 450px;
}
.mulu a{
	color:#8c8c8c;
	font-size:14px;
}
.mulu span{
	color:#8c8c8c;
	
	display:inline-block;
}
.footer .mulu{
	margin-top:50px;
	margin-left:20px;
	}
.copyright{
	color:#8c8c8c;
	line-height:30px;
	font-size:10px;
	margin-left:30px;
}
.copyright2{
	color:#8c8c8c;
	
	font-size:10px;
}
	
